.rachaelhawkins-advice {
  background: gainsboro;
}

.rachaelhawkins-advice h1 {
  font-family: 'Bubbler One', sans-serif;
  font-size: 36px;
  color: darkslategray;
}

.rachaelhawkins-advice p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #4d4c65;
}

.rachaelhawkins-advice h4 {
  font-family: 'Bubbler One', sans-serif;
  font-size: 20px;
  color: darkslategray;
}
